@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Goldman");
@import url("https://fonts.googleapis.com/css2?family=Rubik");

html, body {
  width:           100vw;
  min-height:      100vh;
  scroll-behavior: smooth;
  overflow-y:      hidden;
  overflow-x:      hidden;
  color:           var(--text-black)
}

body {
  background-color: var(--background-light);
  display:          flex;
  flex-wrap:        wrap;
  overflow-y:       scroll;
  position:         relative;
}

*::-webkit-scrollbar {
  display: none;
  width:   0;
}

* {
  line-height: 100%;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  caret-color: transparent;
  font-family: var(--ff-raleway);
}

input {
  caret-color: var(--caret-color);
}

li {
  list-style-type: none;
  display:         inline-block;
}

input, button, select {
  outline-offset: 0;
  outline:        0;
}

img {
  -moz-user-select:    none;
  -webkit-user-select: none;
  user-select:         none;
  pointer-events:      none;
}

body {
  --ff-raleway:        "Raleway", sans-serif;
  --ff-rubik:          "Rubik", sans-serif;
  --ff-ubuntu:         "Ubuntu", sans-serif;

  --text-black:       #000000;
  --background-light: #c0caef;
  --background-white: #ffffff;
  --background-menu:  #9ba3be;
  --border-gray:      #999999;
  --svg-blue-light:   #b1dae7;
  --svg-blue-dark:    #234567;
  --caret-color:      #ffffff;

  --max-window-width: 1440px;
  --top-bar-height:   70px;
}
