.main {
  width:           100vw;
  height:          var(--top-bar-height);
  display:         flex;
  justify-content: center;
  flex-direction:  row;
  padding:         10px 20px;
  position:        relative;
}

.content {
  padding:         0 10px;
  width:           100%;
  border-radius:   10px;
  max-width:       var(--max-window-width);
  background:      #fff;
  color:           #000;
  display:         flex;
  flex-direction:  row;
  justify-content: space-between;
  align-items:     center;
  align-content:   center;
}

.logo {
  cursor:          pointer;
  display:         flex;
  flex-direction:  row;
  align-items:     center;
  align-content:   center;
  justify-content: center;
  grid-column-gap: 5px;
  font-size:       20px;
  font-weight:     900;
  font-family:     var(--ff-ubuntu);
}

.menu-opener {
  cursor: pointer;
}

.dark-background {
  position:            fixed;
  top:                 0;
  left:                0;
  bottom:              0;
  right:               0;
  z-index:             900;
  background:          rgba(0, 0, 0);
  opacity:             0;
  transition-duration: .5s;
  display:             none;
}

.dark-background.opened {
  opacity: .6;
}

.menu {
  --menu-width:        min(100vw, 400px);
  position:            fixed;
  width:               var(--menu-width);
  height:              100vh;
  top:                 0;
  right:               calc(-1 * var(--menu-width));
  display:             none;
  flex-direction:      column;
  background:          var(--background-light);
  transition-duration: .5s;
  z-index:             901;
  padding:             10px 20px 0;
}

.menu.opened {
  right: 0;
}

.menu-top {
  display:         flex;
  justify-content: space-between;
  flex-direction:  row;

  width:           100%;
}

.nav {
  display:        flex;
  margin-top:     20px;
  flex-direction: column;
}

.link {
  display:         flex;
  flex-direction:  row;
  justify-content: space-between;
}

.link-arrow {
  margin-right:        15px;
  transition-duration: .3s;
}

.link:hover .link-arrow {
  transform: translateX(10px);
}

.data-chose {
  margin-top:      30px;
  width:           100%;
  display:         flex;
  justify-content: space-around;
  align-items:     center;
  align-content:   center;
}

.data-input {
  font-family:   var(--ff-rubik);
  border:        1px solid #999;
  padding:       5px 10px;
  border-radius: 5px;
}
